.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #43a846;
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.link {
 color: whitesmoke;
 text-decoration :none; 
 transition-duration: 0.3s;
 border: 2px solid white;
 padding: 5px;
 border-radius: 25px;
}
.link:hover{
  box-shadow: 0 10px 12px 0 rgba(66, 66, 66, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-size: 120%;
  background-color: white;
  color: #43a846;
}

.navLinks {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 25px;
  color: aliceblue;
  
}
.image {
  width: 400px;
  height: 350px;
  border-width: 5px;
  border-radius: 10px;
}
.Contact_image{
  width: 50%;
  height: inherit;
  border-radius: 5%;
  margin: 5px;
}
.UniDiv{
  float:left;
  padding:10px;
  margin-left:27px;
  margin-top: 30px ;
  background-color: aquamarine;
  border-radius: 25px;
}
.h3{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.details_image{
  width: 40%;
  height: 400px;

  border-width: 5px;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.details_header{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.details_li{
  text-align: center;
  font: optional;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  font-family: sans-serif;
  
}
.details{
  border-width: 10px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.3s;
  text-align: center;
  margin-left: 30%;
}
.details:hover{
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 10px 12px 0 rgba(66, 66, 66, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.details_link{
  border-width: 10px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition-duration: 0.3s;
  text-align: center;
  margin-left: 10px;
  
}
.details_link:hover{
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 10px 12px 0 rgba(66, 66, 66, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
}
#li{
  color: rgb(41, 0, 0);
  list-style: none;
}
.input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}